<div class="contacts main-width">
  <div class="contacts-block">
    <div class="contacts-block__content">
      <div class="contacts-block__title">
        Cavab axtarırsınız? həlliniz sizi gözləyir!
      </div>
      <div class="contacts-block__text">
        Nəsə bir şeydə əmin deyilsiniz? Kömək üçün xoş gəlmisiniz komandamızla
        əlaqə saxlayın.
      </div>
    </div>
    <a
      href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
      class="btn btn--m btn--primary"
      >Bizimlə əlaqə saxlayın</a
    >
  </div>
</div>
