<div class="contacts main-width">
  <div class="contacts-block">
    <div class="contacts-block__content">
      <div class="contacts-block__title">
        Cevap mı arıyorsunuz? çözümünüz sizi bekliyor!
      </div>
      <div class="contacts-block__text">
        Bir konuda emin değil misiniz? Yardım için hoş geldiniz ekibimize
        ulaşın.
      </div>
    </div>
    <a
      href="https://refpa58144.com/L?tag=d_4590245m_1599c_&site=4590245&ad=1599"
      class="btn btn--m btn--primary"
      >Bize ulaşın</a
    >
  </div>
</div>
