<div class="faq-block main-width">
  <div class="faq-block__info">
    <div class="faq-block__title">Tez-tez verilən suallar</div>
    <div class="faq-block__description">
      Cavabsız qalan suallarınız üçün dəstək qrupumuzla e-poçt vasitəsilə əlaqə
      saxlayın. Sizə kömək etmək üçün mümkün qədər tez cavab verəcəyik.
    </div>
  </div>
  <div class="faq-block__list">
    <div class="faq-block__item">
      <details>
        <summary>Ödəniş üsullarınız nələrdir?</summary>
        <p>
          Sifariş verdikdən sonra və ya sifariş verərkən yeni hesab
          yaratmısınızsa, müştəri hesabınızda hər iki ünvanı (ödəniş və göndərmə
          üçün) redaktə edə bilərsiniz.
        </p>
      </details>
    </div>
    <div class="faq-block__item">
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
      >
        <details>
          <summary>Bülleteninizə hardan abunə ola bilərəm?</summary>
          <p></p>
        </details>
      </a>
    </div>
    <div class="faq-block__item">
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
      >
        <details>
          <summary>
            Nümunə götürmək üçün jurnalın pulsuz nüsxəsini sifariş edə
            bilərəmmi?
          </summary>
          <p></p>
        </details>
      </a>
    </div>
  </div>
</div>
