<div class="faq-block main-width">
  <div class="faq-block__info">
    <div class="faq-block__title">Sıkça sorulan sorular</div>
    <div class="faq-block__description">
      Cevaplanmayan sorularınız için destek ekibimizle e-posta yoluyla iletişime
      geçin. Size yardımcı olmak için mümkün olan en kısa sürede yanıt
      vereceğiz.
    </div>
  </div>
  <div class="faq-block__list">
    <div class="faq-block__item">
      <details>
        <summary>Ödeme yöntemleriniz nelerdir?</summary>
        <p>
          Sipariş verdikten sonra veya sipariş verirken yeni bir hesap
          oluşturduysanız, müşteri hesabınızda her iki adresi (faturalandırma ve
          gönderim için) de düzenleyebilirsiniz.
        </p>
      </details>
    </div>
    <div class="faq-block__item">
      <a
        href="https://refpa58144.com/L?tag=d_4590245m_1599c_&site=4590245&ad=1599"
      >
        <details>
          <summary>Bülteninize nereden abone olabilirim?</summary>
          <p></p>
        </details>
      </a>
    </div>
    <div class="faq-block__item">
      <a
        href="https://refpa58144.com/L?tag=d_4590245m_1599c_&site=4590245&ad=1599"
      >
        <details>
          <summary>
            Bir derginin ücretsiz bir kopyasını örnek olarak sipariş edebilir
            miyim?
          </summary>
          <p></p>
        </details>
      </a>
    </div>
  </div>
</div>
