<footer>
  <div class="footer main-width">
    <div class="footer__text">
      Bu veb saytında qeydiyyatdan keçmək üçün istifadəçi Xidmət Şərtlərini
      qəbul etməlidir. Xidmət Şərtləri yenilənərsə, mövcud istifadəçilər bu
      yeniləmənin qüvvəyə minməsindən əvvəl – elan edildikdən ən azı iki həftə
      sonra – məhsul və xidmətlərdən istifadəni dayandırmağı seçə bilərlər.
      İngilis dilindən əlavə, nüsxələr digər dillərdə də mövcud ola bilər. Lakin
      orijinal İngilis dili versiyası bütün tərcümələrdən üstün tutulur.
      1x-001.com, Curaçao qanunlarına əsasən yaradılmış və Şirkət Nömrəsi 163779
      olan Caecus N.V. tərəfindən idarə olunur. Qeydiyyat ünvanı: Chuchubiweg,
      17, Willemstad, Curaçao. Curaçao Qumar Tənzimləmə Şurası tərəfindən,
      Xaricdə Qumar Oyunları haqqında Milli Qanuna uyğun olaraq
      OGL/2024/1262/0493 lisenziya nömrəsi ilə təsadüfi oyunların keçirilməsi
      üçün lisenziya verilib. Lisenziya 07/11/2024 tarixində verilib. Ödənişlər
      Caecus N.V. adından çıxış edən Exidea Enterprises LTD və Ervianassa
      Enterprises LTD (Kipr) tərəfindən həyata keçirilir. Bütün hüquqlar
      qorunur. Oyunlarda iştirak etmək üçün əvvəlcə Məsuliyyətli Oyun
      Müqaviləsinin (RGA) və onun Xidmət Şərtlərinin (GT&C) hüquqi şərtlərini
      qəbul etməlisiniz. Hər hansı oyunda iştirak etməzdən əvvəl, zəhmət olmasa
      RGA/GT&C sənədlərini diqqətlə oxuyun.
    </div>
    <div class="footer__content">
      <div class="footer__copyright">
        Müəllif hüquqları © 2025 "1xBet".<br />
        1xBet sizə maksimum rahatlığı təmin etmək üçün cookie-fayllardan
        istifadə edir. Əgər saytda qalmağa davam etsəniz, 1xBet-in sizin
        cookie-fayllarınızı istifadə etməsinə razı olduğunuzu qəbul
        edirsiniz. <a
          href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
          >Ətraflı öyrənin</a
        >
      </div>
      <div class="footer__links">
        <a
          href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        >
          <img src="images/icon1.png" />
        </a>
        <a
          href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        >
          <img src="images/icon2.png" />
        </a>
      </div>
    </div>
  </div>
</footer>
