<div class="games main-width">
  <div class="games__title">Oyun başlayır — qalib gəlmək yolunu seç!</div>
  <div class="games__slider swiper">
    <div class="swiper-wrapper games__list">
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="swiper-slide games__item"
      >
        <div
          class="games__image"
          style="background-image: url('images/game1.png')"
        ></div>
        <div class="games__name">Aviator</div>
      </a>
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="swiper-slide games__item"
      >
        <div
          class="games__image"
          style="background-image: url('images/game2.png')"
        ></div>
        <div class="games__name">Book of Ra</div>
      </a>
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="swiper-slide games__item"
      >
        <div
          class="games__image"
          style="background-image: url('images/game3.png')"
        ></div>
        <div class="games__name">Buffalo Power</div>
      </a>
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="swiper-slide games__item"
      >
        <div
          class="games__image"
          style="background-image: url('images/game4.png')"
        ></div>
        <div class="games__name">Crash</div>
      </a>
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="swiper-slide games__item"
      >
        <div
          class="games__image"
          style="background-image: url('images/game5.png')"
        ></div>
        <div class="games__name">Dice</div>
      </a>
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="swiper-slide games__item"
      >
        <div
          class="games__image"
          style="background-image: url('images/game6.png')"
        ></div>
        <div class="games__name">Gates of Olympus</div>
      </a>
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="swiper-slide games__item"
      >
        <div
          class="games__image"
          style="background-image: url('images/game7.png')"
        ></div>
        <div class="games__name">Gonzo’s Quest</div>
      </a>
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="swiper-slide games__item"
      >
        <div
          class="games__image"
          style="background-image: url('images/game8.png')"
        ></div>
        <div class="games__name">Hi-Lo</div>
      </a>
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="swiper-slide games__item"
      >
        <div
          class="games__image"
          style="background-image: url('images/game9.png')"
        ></div>
        <div class="games__name">JetX</div>
      </a>
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="swiper-slide games__item"
      >
        <div
          class="games__image"
          style="background-image: url('images/game10.png')"
        ></div>
        <div class="games__name">Keno</div>
      </a>
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="swiper-slide games__item"
      >
        <div
          class="games__image"
          style="background-image: url('images/game11.png')"
        ></div>
        <div class="games__name">Legacy of Dead</div>
      </a>
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="swiper-slide games__item"
      >
        <div
          class="games__image"
          style="background-image: url('images/game12.png')"
        ></div>
        <div class="games__name">Mines</div>
      </a>
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="swiper-slide games__item"
      >
        <div
          class="games__image"
          style="background-image: url('images/game13.png')"
        ></div>
        <div class="games__name">Plinko</div>
      </a>
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="swiper-slide games__item"
      >
        <div
          class="games__image"
          style="background-image: url('images/game14.png')"
        ></div>
        <div class="games__name">Starburst</div>
      </a>
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="swiper-slide games__item"
      >
        <div
          class="games__image"
          style="background-image: url('images/game15.png')"
        ></div>
        <div class="games__name">Sweet Bonanza</div>
      </a>
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="swiper-slide games__item"
      >
        <div
          class="games__image"
          style="background-image: url('images/game16.png')"
        ></div>
        <div class="games__name">Wheel of Fortune</div>
      </a>
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="swiper-slide games__item"
      >
        <div
          class="games__image"
          style="background-image: url('images/game17.png')"
        ></div>
        <div class="games__name">ZeppelinBook of Ra</div>
      </a>
    </div>
  </div>
  <div class="games__tab">
    <a
      href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
    >
      <picture>
        <source srcset="images/tab-mobile.jpg" media="(max-width: 767px)" />
        <img src="images/tab.jpg" alt="" />
      </picture>
    </a>
  </div>
</div>

<script>
  let gamesSlider = null;

  function initGamesSlider() {
    const screenWidth = window.innerWidth;

    if (screenWidth > 767 && gamesSlider === null) {
      gamesSlider = new Swiper(".games__slider", {
        slidesPerView: "auto",
        spaceBetween: 16,
        loop: true,
        autoplay: {
          delay: 2000,
          disableOnInteraction: false,
        },
        speed: 800,
        grabCursor: true,
      });
    } else if (screenWidth <= 767 && gamesSlider !== null) {
      gamesSlider.destroy(true, true);
      gamesSlider = null;
    }
  }

  document.addEventListener("DOMContentLoaded", initGamesSlider);

  window.addEventListener("resize", initGamesSlider);
</script>
