<div class="partners-block main-width">
  <div class="partners-block__title">Resmi ortaklar</div>
  <div class="partners-block__container">
    <div class="partners-block__list swiper">
      <div class="swiper-wrapper partners-list">
        <div class="swiper-slide partners-list__item">
          <img src="images/partnter1.png" />
        </div>
        <div class="swiper-slide partners-list__item">
          <img src="images/partnter2.png" />
        </div>
        <div class="swiper-slide partners-list__item">
          <img src="images/partnter3.png" />
        </div>
        <div class="swiper-slide partners-list__item">
          <img src="images/partnter4.png" />
        </div>
        <div class="swiper-slide partners-list__item">
          <img src="images/partnter5.png" />
        </div>
        <div class="swiper-slide partners-list__item">
          <img src="images/partnter6.png" />
        </div>
        <div class="swiper-slide partners-list__item">
          <img src="images/partnter7.png" />
        </div>
        <div class="swiper-slide partners-list__item">
          <img src="images/partnter8.png" />
        </div>
        <div class="swiper-slide partners-list__item">
          <img src="images/partnter9.png" />
        </div>
        <div class="swiper-slide partners-list__item">
          <img src="images/partnter10.png" />
        </div>
        <div class="swiper-slide partners-list__item">
          <img src="images/partnter11.png" />
        </div>
        <div class="swiper-slide partners-list__item">
          <img src="images/partnter12.png" />
        </div>
        <div class="swiper-slide partners-list__item">
          <img src="images/partnter13.png" />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  new Swiper(".partners-block__list", {
    slidesPerView: "auto",
    spaceBetween: 12,
    freeMode: false,
    loop: true,
    autoplay: {
      delay: 2000,
      disableOnInteraction: false,
    },
    speed: 800,
    grabCursor: true,
  });
</script>
