<div class="promo main-width">
  <div class="promo__item">
    <div class="promo__title">
      Ödemeleri al — bir ortak olarak kazanç elde et
    </div>
    <div class="promo__text">
      Oyuncu yatırımlarını kendi ödeme sistemin üzerinden işle ve cirodan pay
      al.
    </div>
    <a
      class="btn btn--s btn--primary"
      href="https://refpa58144.com/L?tag=d_4590245m_97965c_&site=4590245&ad=97965"
      >Daha fazla bilgi</a
    >
  </div>
  <div class="promo__item">
    <div class="promo__title">Ortak ol — trafikten kazanç sağla</div>
    <div class="promo__text">Müşteri getir ve kazancını elde et</div>
    <a
      class="btn btn--s btn--primary"
      href="https://refpa58144.com/L?tag=d_4590245m_97965c_&site=4590245&ad=97965"
      >Daha fazla bilgi</a
    >
  </div>
</div>
