<div class="subscribe main-width">
  <div class="subscribe-block">
    <div class="subscribe-block__content">
      <div class="subscribe-block__title">
        Bültenimize abone olun ve içeriden bilgi edinin!
      </div>
      <div class="subscribe-block__text">
        <p>Topluluğumuza katılın ve heyecan verici fırsatları kaçırmayın.</p>
      </div>
      <a
        href="https://refpa58144.com/L?tag=d_4590245m_1599c_&site=4590245&ad=1599"
        class="btn btn--l btn--primary"
        >Abone</a
      >
    </div>
    <div class="subscribe-block__image">
      <img src="images/subscribe-image.png" />
    </div>
  </div>
</div>
