<div class="subscribe main-width">
  <div class="subscribe-block">
    <div class="subscribe-block__content">
      <div class="subscribe-block__title">
        Xəbər bülletenimizə abunə olun və daxili məlumat əldə edin!
      </div>
      <div class="subscribe-block__text">
        <p>İcmağımıza qoşulun və həyəcanlı fürsətləri qaçırmayın.</p>
      </div>
      <a
        href="https://refpa58144.com/L?tag=d_4590246m_1599c_&site=4590246&ad=1599"
        class="btn btn--l btn--primary"
        >Abunəçi</a
      >
    </div>
    <div class="subscribe-block__image">
      <img src="images/subscribe-image.png" />
    </div>
  </div>
</div>
